<html  class="x-admin-sm" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>实时查询</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />-->
    <link rel="stylesheet" th:href="@{/X-admin/css/font.css}">
    <link rel="stylesheet" th:href="@{/X-admin/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/X-admin/css/theme5.css}">
    <script th:src="@{/X-admin/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/X-admin/js/xadmin.js}"></script>
    <script th:src="@{/X-admin/js/jquery.min.js}" charset="utf-8"></script>

    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="x-nav">
                <span class="layui-breadcrumb">
                    <a href="">首页</a>
                    <a href="">演示</a>
                    <a>
                        <cite>导航元素</cite></a>
                </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-form layui-col-space5">
                            <div class="layui-input-inline">
                                <select name="college" id="college" lay-filter="sales"  lay-search="">
                                    <option value="">请选择时间</option>
                                    <option th:each="c,stat:${tims}" th:value="${c.said}" th:text="${c.satime}"></option>
                                </select>
                            </div>
                            <button class="layui-btn" data-type="reload">查询</button>
                        </div>
                    </div>

                        <!--表格-->
                    <div class="layui-card-body"><table class="layui-hide" id="LAY_table_user"  lay-filter="test"></table></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/html" id="indexTpl">
        {{d.LAY_TABLE_INDEX+1}}
    </script>
    <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="edit" >编辑</a>
    </script>
    <script  th:inline="none">

        layui.use('table', function(){
            var table = layui.table;

            //方法级渲染
            table.render({
                elem: '#LAY_table_user'
                ,url: '/getAdminInfo'
                // ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                //     title: '提示'
                //     ,layEvent: 'LAYTABLE_TIPS'
                //     ,icon: 'layui-icon-tips'
                // }]
                ,defaultToolbar: ['filter', 'print', 'exports']
                ,toolbar: true
                ,toolbar: '#toolbarDemo' //表头工具栏
                ,cols: [[
                    // {checkbox: true, fixed: true}
                    {title: '编号',templet: '#indexTpl'}
                    ,{field:'aid', title: 'ID',  fixed: true}
                    ,{field:'aname', title: '姓名'}
                    ,{field:'ano', title: '工号'}
                    ,{field:'atel', title: '手机号'}
                    ,{field:'coname', title: '学院'}
                    ,{field:'roles',title:'拥有权限',width:420}
                    ,{fixed: 'right', title:'权限管理', toolbar: '#barDemo', width:150}
                ]]
                ,id: 'testReload'
                ,page: true
                ,height: 700
                ,done:function(res,curr,count){
                    // 隐藏列
                    $("[data-field='aid']").css("display","none");
                }
            });
            //监听行工具事件
            table.on('tool(test)', function(obj){
                var data = obj.data;
                if(obj.event === 'edit'){
                    // layer.open({
                    //     type:2
                    //     ,title: '结果'
                    //     ,area:["400px","500px"]
                    //     ,content: ['/editRoles?ano='+data.ano,'no']
                    // });
                    xadmin.open('修改权限','/editRoles?ano='+data.ano);
                }
            });
            var $ = layui.$, active = {
                reload: function(){
                    var demoReload = $('#demoReload');
                    var college = $('#college');
                    var role = $('#role');

                    //执行重载
                    table.reload('testReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        ,where: {
                            name: demoReload.val()
                            ,college:college.val()
                            ,role:role.val()
                        }
                    }, 'data');
                }
            };

            $('.layui-card-body .layui-btn').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            $('#muban').on('click',function () {
                window.location.href="/downAddAdminTmp";
            });
            //上传文件新增
            layui.use('upload', function(){
                var upload = layui.upload; //得到 upload 对象
                //执行实例
                var uploadInst = upload.render({
                    elem: '#filename' //绑定元素
                    ,url: '/addadmin' //上传接口
                    ,accept: 'file' //允许上传的文件类型
                    // ,exts: 'xls|excel|xlsx' //只允许上传压缩文件
                    ,exts: 'xls|excel' //只允许上传压缩文件
                    ,done: function(res){
                        //上传完毕回调
                        layer.open({
                            type:2
                            ,title: '结果'
                            ,content: '/popupresults?tol='+res.tol+'&suc='+res.suc+'&erro='+res.erro+'&recordid='+res.recordid
                        });


                    }
                    ,error: function(){
                        //请求异常回调
                    }
                });
            });
            $('#add').on('click',function () {

            });

        });
    </script>

<!--表头工具栏-->
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="muban" id="muban">下载模板</button>
<!--            <button class="layui-btn layui-btn-sm" lay-event="add" id="add">批量新增</button>-->
            <button type="button" class="layui-btn" id="filename">批量新增
<!--                <i class="layui-icon">&#xe67c;</i>-->
            </button>
        </div>
    </script>
</body>
</html>