<html  class="x-admin-sm" xmlns:th="http://www.thyeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" th:href="@{/X-admin/css/font.css}">
        <link rel="stylesheet" th:href="@{/X-admin/css/xadmin.css}">
        <link rel="stylesheet" th:href="@{/X-admin/css/theme5.css}">
        <script th:src="@{/X-admin/lib/layui/layui.js}" charset="utf-8"></script>
        <script type="text/javascript" th:src="@{/X-admin/js/xadmin.js}"></script>
        <script type="text/javascript" th:src="@{/X-admin/js/qrscan.js}"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body style="background-color: white">
    <fieldset class="layui-elem-field site-demo-button" style="">
        <legend></legend>
        <div>
            <div id="video"></div>
            <div style="width: 80%; margin:0 auto;margin-top: 35px;">
                <button type="button" id="open" class="layui-btn layui-btn-fluid layui-btn-lg">扫  &nbsp;&nbsp;码</button>
                <button type="button" id="close" class="layui-btn layui-btn-fluid layui-btn-lg">关  &nbsp;&nbsp;闭</button>
            </div>
            <div id="result"></div>
        </div>
    </fieldset>
    <script>

        var ds = null;
        var scan = new QRScan('video');

        document.getElementById('open').onclick = function() {
            scan.openScan();
            ds = window.setInterval(function() {
                startScan();
            }, 1500);
        };
        document.getElementById('close').onclick = function() {
            scan.closeScan();
            window.clearInterval(ds);
        };

        var re_div = document.getElementById('result');

        function startScan() {
            scan.getImgDecode(function(data) {
                console.log(data);
                var p = document.createElement('p');
                if (data.success) {
                    p.innerHTML = 'RESULT: ' + data.payload;
                } else {
                    p.innerHTML = 'ERROR: ' + data.msg;
                }
                re_div.appendChild(p);
            });
        };
    </script>
    </body>
</html>